/*----------------------------------global--------------------------------*/
body { 
    font-family: var(--font-family-base); 
    font-size: 1.3rem;
    font-weight: 400; 
    color: var(--color-black); 
    background-color: #F8F7FC;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
._container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0px var(--container-padding-x);
}
section {
    padding: var(--section-padding-y) 0px;
    @include mobile {
        padding: 2rem 0px;
    }
}
.title {
    @include fluid-text(20, 46);
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 1.3rem;
}
.subtitle {
    @include fluid-text(16, 32);
    line-height: 100%;
    font-weight: 600;
    margin-bottom: 1rem;
}
.text {
    @include fluid-text(12, 20);
}
/*----------------------------------global--------------------------------*/