:root {
    --color-black: #000000;
    --color-white: #FFFFFF;

    --font-family-base: 'Montserrat', sans-serif;

    --container-width: 113.4rem;
    --container-padding-x: 1rem;

    --section-padding-y: 3.13rem;
}