* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100dvh;
  min-width: 320px;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  font-size: inherit;
  color: inherit;
  display: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

address {
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format(woff2);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --font-family-base: "Montserrat", sans-serif;
  --container-width: 113.4rem;
  --container-padding-x: 1rem;
  --section-padding-y: 3.13rem;
}

/*----------------------------------global--------------------------------*/
body {
  font-family: var(--font-family-base);
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-black);
  background-color: #F8F7FC;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0px var(--container-padding-x);
}

section {
  padding: var(--section-padding-y) 0px;
}
@media (max-width: 48rem) {
  section {
    padding: 2rem 0px;
  }
}

.title {
  font-size: clamp(1.25rem, 3.1944444444vw, 2.875rem);
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 1.3rem;
}

.subtitle {
  font-size: clamp(1rem, 2.2222222222vw, 2rem);
  line-height: 100%;
  font-weight: 600;
  margin-bottom: 1rem;
}

.text {
  font-size: clamp(0.75rem, 1.3888888889vw, 1.25rem);
}

/*----------------------------------global--------------------------------*/
/*----------------------------------main-section--------------------------------*/
.main-section__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem 10px;
}
@media (max-width: 48rem) {
  .main-section__body {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
.main-section__image {
  flex-basis: 56rem;
}
.main-section__image img {
  transition: transform 0.3s ease-in-out;
}
.main-section__info {
  flex-basis: 44.4rem;
}
.main-section .text {
  opacity: 0.5;
  font-size: clamp(0.875rem, 1.3888888889vw, 1.25rem);
}

/*----------------------------------main-section--------------------------------*/
/*----------------------------------discounts--------------------------------*/
.discounts__body {
  display: flex;
  justify-content: space-between;
  gap: 0rem 1rem;
}
@media (max-width: 80rem) {
  .discounts__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.discounts__container {
  flex-basis: 54rem;
  display: flex;
  flex-direction: column;
}

/*----------------------------------discounts--------------------------------*/
/*----------------------------------discount--------------------------------*/
.discount {
  cursor: pointer;
  margin-bottom: 7rem;
}
@media (max-width: 80rem) {
  .discount {
    margin-bottom: 4rem;
  }
}
.discount__show {
  border-radius: 20px;
  background-color: var(--color-white);
  padding: 3.8rem;
  margin-top: -10rem;
}
@media (max-width: 1500px) {
  .discount__show {
    padding: 3rem 1rem 1rem 1rem;
    margin-top: -6rem;
  }
}
@media (hover: hover) {
  .discount:hover .discount__image {
    transform: scale(1.1);
  }
}
@media (hover: hover) {
  .discount:hover .discount__percent span {
    transform: scale(1.1);
  }
}
.discount__wrapper {
  display: flex;
  flex-direction: column;
}
.discount__inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.8rem;
  position: relative;
  background-color: var(--color-white);
  z-index: 3;
  border-radius: 20px;
  padding: 3.8rem;
}
@media (max-width: 1500px) {
  .discount__inner {
    padding: 1.7rem;
    min-height: 17rem;
  }
}
@media (max-width: 48rem) {
  .discount__inner {
    padding: 1rem;
    min-height: 8.6rem;
  }
}
.discount__image {
  position: relative;
  transition: transform 0.3s ease-in-out;
  width: 20rem;
  height: 10rem;
}
@media (max-width: 48rem) {
  .discount__image {
    width: 9.5rem;
    height: 5rem;
  }
}
.discount__image img {
  position: absolute;
  top: -5.8rem;
  right: 0;
}
@media (max-width: 1500px) {
  .discount__image img {
    top: -4.2rem;
  }
}
@media (max-width: 48rem) {
  .discount__image img {
    top: -1.6rem;
  }
}
.discount__image_blur {
  filter: blur(15px);
  background: var(--color-white);
  width: 25rem;
  height: 74px;
  position: absolute;
  bottom: -6rem;
  left: -2rem;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
@media (max-width: 1500px) {
  .discount__image_blur {
    bottom: -8rem;
  }
}
@media (max-width: 48rem) {
  .discount__image_blur {
    filter: blur(5px);
    height: 30px;
    bottom: -3.5rem;
  }
}
.discount__image_blur.show {
  opacity: 1;
}
.discount__line {
  height: 3px;
  background-color: #D9D9D9;
  margin-top: 8rem;
  margin-bottom: 1.5rem;
  opacity: 0;
  visibility: visible;
  transform: translate(0px, -10%);
  transition: all 0.3s ease;
  position: absolute;
  pointer-events: none;
}
@media (max-width: 48rem) {
  .discount__line {
    margin-top: 5rem;
    margin-bottom: 0.9rem;
  }
}
.discount__line.show {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  position: relative;
  z-index: 9;
}
.discount__button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 4px;
  opacity: 0;
  visibility: visible;
  transform: translate(0px, -120%);
  position: absolute;
  transition: all 0.3s ease;
  margin-bottom: 1.2rem;
  font-size: clamp(0.75rem, 1.3888888889vw, 1.25rem);
}
@media (max-width: 48rem) {
  .discount__button {
    margin-bottom: 0.5rem;
  }
}
.discount__button.show {
  opacity: 0.5;
  visibility: visible;
  transform: translate(0px, 0px);
  position: relative;
  z-index: 3;
}
.discount__title {
  display: flex;
  gap: 10px;
  margin-bottom: 0.7rem;
  font-weight: 700;
  font-size: clamp(1rem, 1.3888888889vw, 1.25rem);
}
.discount__title img {
  flex: none;
}
.discount__info {
  opacity: 0;
  visibility: visible;
  position: absolute;
  top: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  cursor: auto;
}
.discount__info .text {
  margin-bottom: 1.6rem;
}
.discount__info.show {
  opacity: 1;
  visibility: visible;
  position: static;
  transition: all 0.3s ease;
}
.discount__percent {
  transform: rotate(-10deg);
}
.discount__percent span {
  display: inline-block;
  font-weight: 800;
  font-size: clamp(4.375rem, 8.8888888889vw, 8rem);
  color: #F7434C;
  text-shadow: 0 8px 0 #A10008;
  transition: transform 0.3s ease-in-out;
}
.discount__percent img {
  position: absolute;
  bottom: -1rem;
  right: 0.5rem;
  transform: rotate(10deg);
}
@media (max-width: 48rem) {
  .discount__percent img {
    width: 6rem;
    bottom: -0.5rem;
  }
}
.discount__list {
  margin-bottom: 1.5rem;
}
.discount__list ul {
  font-size: clamp(0.75rem, 1.3888888889vw, 1.25rem);
}
.discount__explanation {
  opacity: 0.5;
  margin-bottom: 1.9rem;
  font-size: clamp(0.75rem, 1.3888888889vw, 1.25rem);
}
@media (max-width: 48rem) {
  .discount__explanation {
    margin-bottom: 1rem;
  }
}
.discount__savings {
  background-color: #CDFFD2;
  display: inline-block;
  padding: 0.8rem 1.3rem;
  border-radius: 10px;
}
@media (max-width: 48rem) {
  .discount--mod {
    order: -1;
  }
}

/*----------------------------------discount--------------------------------*//*# sourceMappingURL=styles.css.map */